


.srch-form input{
    padding: 20px;
    width: 90%;
    height: 100%;
    height: 2rem;
    
    background-color: #ffffff;
    outline: none;
    border: none;
    border-bottom: 1px solid #224466;
    border-radius: 10px;

    font-size: 2rem;
    color:  #afafaf;
}